body {
    margin: 0;
    font-family: Arial;
    background: #dbe3ef;
}

/* center whole card */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* main card */
.card {
    display: flex;
    background: white;
    width: 700px;
    border-radius: 10px;
    padding: 15px;
}

/* left panel */
.sidebar {
    width: 200px;
    background: linear-gradient(#5f5df0, #3b38cc);
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.step {
    margin-bottom: 20px;
    opacity: 0.8;
}

.step span {
    display: block;
    font-size: 12px;
}

.active {
    font-weight: bold;
    opacity: 1;
}


.content {
    flex: 1;
    padding: 20px;
}

.content h2 {
    margin-bottom: 10px;
}

.content p {
    color: gray;
    font-size: 14px;
}

label {
    display: block;
    margin-top: 15px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    margin-top: 20px;
    padding: 10px;
    background: #0d2b52;
    color: white;
    border: none;
    border-radius: 5px;
    float: right;
}